In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
pth = os.path.join("..","Files","artwork_data.csv")
cols = ['id', 'artist','title','medium', 'width','height','year']
df3 = pd.read_csv(pth, delimiter = ',', index_col = 'id', usecols=cols, low_memory=False)
df3['width'] = pd.to_numeric(df3['width'], errors = 'coerce')
df3['height'] = pd.to_numeric(df3['height'], errors = 'coerce')
df3 = df3.assign(area = df3['width'] * df3['height'])

In [3]:
df3.head()

,artist,title,medium,year,width,height,area
id,,,,,,,
1035,"Blake, Robert",A Figure Bowing before a Seated Old Man with h...,"Watercolour, ink, chalk and graphite on paper....",NaN,394.0,419.0,165086.0
1036,"Blake, Robert","Two Drawings of Frightened Figures, Probably f...",Graphite on paper,NaN,311.0,213.0,66243.0
1037,"Blake, Robert",The Preaching of Warning. Verso: An Old Man En...,Graphite on paper. Verso: graphite on paper,1785,343.0,467.0,160181.0
1038,"Blake, Robert",Six Drawings of Figures with Outstretched Arms,Graphite on paper,NaN,318.0,394.0,125292.0
1039,"Blake, William",The Circle of the Lustful: Francesca da Rimini...,Line engraving on paper,1826,243.0,335.0,81405.0

In [17]:
dfg = df3.iloc[0:100,:].groupby('artist')
type(dfg)

pandas.core.groupby.generic.DataFrameGroupBy

In [18]:
for name, group_df in dfg:
    print(name)

Blake, Robert
Blake, William
British School 18th century
Burne-Jones, Sir Edward Coley, Bt
Richmond, George