In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
pth = os.path.join("..","Files","artwork_data.csv")
cols = ['id', 'artist','title','medium', 'width','height']
df3 = pd.read_csv(pth, delimiter = ',', index_col = 'id', usecols=cols, low_memory=False)

In [3]:
df3['height'].dtypes

dtype('O')

In [12]:
df3['width'] = pd.to_numeric(df3['width'], errors = 'coerce')
df3['height'] = pd.to_numeric(df3['height'], errors = 'coerce')
df3.dtypes

artist     object
title      object
medium     object
width     float64
height    float64
dtype: object

In [5]:
len(pd.unique(df3['artist']))

3336

In [6]:
i = (df3['artist'] == 'Bacon, Francis') & (df3['medium'] == 'Oil paint on canvas')
i.value_counts()

False    69192
True         9
dtype: int64

In [7]:
df4 = df3[i]
df4

,artist,title,medium,width,height
id,,,,,
672,"Bacon, Francis",Figure in a Landscape,Oil paint on canvas,1448.0,1283.0
673,"Bacon, Francis",Study of a Dog,Oil paint on canvas,1981.0,1372.0
677,"Bacon, Francis",Study for a Portrait of Van Gogh IV,Oil paint on canvas,1524.0,1168.0
678,"Bacon, Francis",Reclining Woman,Oil paint on canvas,1988.0,1416.0
679,"Bacon, Francis",Seated Figure,Oil paint on canvas,1651.0,1422.0
680,"Bacon, Francis",Study for Portrait on Folding Bed,Oil paint on canvas,1981.0,1473.0
681,"Bacon, Francis",Portrait of Isabel Rawsthorne,Oil paint on canvas,813.0,686.0
683,"Bacon, Francis",Study for Portrait II (after the Life Mask of ...,Oil paint on canvas,610.0,508.0
21897,"Bacon, Francis",Figures in a Garden,Oil paint on canvas,740.0,940.0

In [8]:
df4.loc[677,:]

artist                         Bacon, Francis
title     Study for a Portrait of Van Gogh IV
medium                    Oil paint on canvas
width                                    1524
height                                   1168
Name: 677, dtype: object

In [9]:
df4.loc[[677],:]

,artist,title,medium,width,height
id,,,,,
677,"Bacon, Francis",Study for a Portrait of Van Gogh IV,Oil paint on canvas,1524.0,1168.0

In [10]:
df4.loc[df4['title'] == 'Reclining Woman',:]

             artist            title               medium   width  height
id
678  Bacon, Francis  Reclining Woman  Oil paint on canvas  1988.0  1416.0

In [11]:
df4.iloc[[3]]

             artist            title               medium   width  height
id
678  Bacon, Francis  Reclining Woman  Oil paint on canvas  1988.0  1416.0

In [19]:
df4 = df4.assign(area = df4['width'] * df4['height'])
df4

,artist,title,medium,width,height,area
id,,,,,,
672,"Bacon, Francis",Figure in a Landscape,Oil paint on canvas,1448.0,1283.0,1857784.0
673,"Bacon, Francis",Study of a Dog,Oil paint on canvas,1981.0,1372.0,2717932.0
677,"Bacon, Francis",Study for a Portrait of Van Gogh IV,Oil paint on canvas,1524.0,1168.0,1780032.0
678,"Bacon, Francis",Reclining Woman,Oil paint on canvas,1988.0,1416.0,2815008.0
679,"Bacon, Francis",Seated Figure,Oil paint on canvas,1651.0,1422.0,2347722.0
680,"Bacon, Francis",Study for Portrait on Folding Bed,Oil paint on canvas,1981.0,1473.0,2918013.0
681,"Bacon, Francis",Portrait of Isabel Rawsthorne,Oil paint on canvas,813.0,686.0,557718.0
683,"Bacon, Francis",Study for Portrait II (after the Life Mask of ...,Oil paint on canvas,610.0,508.0,309880.0
21897,"Bacon, Francis",Figures in a Garden,Oil paint on canvas,740.0,940.0,695600.0

In [20]:
df4['area']

id
672      1857784.0
673      2717932.0
677      1780032.0
678      2815008.0
679      2347722.0
680      2918013.0
681       557718.0
683       309880.0
21897     695600.0
Name: area, dtype: float64