In [1]:
import numpy as np
import pandas as pd

In [6]:
arr = np.random.rand(3)
arr

array([0.2632964 , 0.26436048, 0.58733891])

In [8]:
ser = pd.Series(arr)
ser

0    0.263296
1    0.264360
2    0.587339
dtype: float64

In [9]:
ser2 = pd.Series(arr, ["Raz", "Dwa", "Trzy"])
ser2

Raz     0.263296
Dwa     0.264360
Trzy    0.587339
dtype: float64

In [10]:
arr2d = np.random.rand(3,2)
arr2d

array([[0.99157586, 0.50479696],
       [0.23220511, 0.59648567],
       [0.88047497, 0.06651098]])

In [18]:
dfr = pd.DataFrame(arr2d)
dfr.columns = ["Kolumna01","Kolumna02"]

In [19]:
dfr

   Kolumna01  Kolumna02
0   0.991576   0.504797
1   0.232205   0.596486
2   0.880475   0.066511

In [20]:
dfr["Kolumna01"]

0    0.991576
1    0.232205
2    0.880475
Name: Kolumna01, dtype: float64